.shop {
  display: flex;
  gap: var(--spacing-medium);
  align-items: center;
  flex-direction: column;
}

.shopItems {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--spacing-small);
}

@media (width <= 480px) {
  .shopItems {
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
  }
}
