.shopItems {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--spacing-small);
}

@media (width <= 480px) {
  .shopItems {
    background-color: red;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
  }
}
