table {
    table-layout: fixed;
    /* This makes the table fill in the entire width */
    align-self: stretch;
    background-color: var(--colour-secondary);
    border-collapse: collapse;
}

thead, tr, td, th {
    border: solid 2px var(--colour-surface);
    padding: var(--spacing-xs);
}
.cart {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
    align-items: center;
}

@media (width <= 480px) {
    thead, tr, td, th {
        font-size: var(--font-small);
        text-align: center;
    }
}