table {
    table-layout: fixed;
    /* This makes the table fill in the entire width */
    align-self: stretch;
    /* Just for testing */
    background-color: red;
    border-collapse: collapse;
}

thead, tr, td, th {
    border: solid 2px blue;
    padding: var(--spacing-xs);
}

.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (width <= 480px) {
    thead, tr, td, th {
        font-size: var(--font-small);
        text-align: center;
    }
}