.quantityContainer {
  display: flex;
  gap: var(--spacing-small);
  justify-content: center;
}

.mobileStyle {
  display: none;
}

.shopItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-medium);
  padding: var(--spacing-small);
  background-color: var(--colour-secondary);
  border: 4px solid var(--colour-surface);
  border-radius: 15px;
  aspect-ratio: 1 / 1;
}

.shopItem img {
  width: 128px;
  height: 128px;
}

.shopItem form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-medium);
}

.shopItem input {
  color: var(--colour-secondary);
  font-weight: bold;
  font-size: var(--font-body);
}

label {
  font-weight: bold;
}

button {
  border: 2px solid var(--colour-surface);
  padding: var(--spacing-small);
  border-radius: 15px;
  background-color: var(--colour-primary);
}

button:hover {
  cursor: pointer;
  filter: brightness(90%);
}

@media (width <= 480px) {

  /* Once a mobile device is used, turn the name quantity into qty. */
  .mobileStyle {
    display: block;
  }
  
  .regularStyle {
    display: none;
  }
  button {
    padding: var(--spacing-xs);
  }
  .shopItem img {
    width: 64px;
    height: 64px;
  }

  .shopItem input {
    max-width: 20%;
  }

}
