/* TODO: Make this quantityCell better looking haha */
.quantityCell {
    display: flex;
    border: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-xs);
    text-align: center;
    font-weight: bold;
    font-size: var(--font-subheading);
}

.quantityContainer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: var(--spacing-small);
    border: none;
}

.quantityContainer input {
    font-size: var(--font-small);
    min-width: 100%;
    color: var(--colour-secondary);
}

.quantityIcon {
    background: none;
    border: none;
    width: 40px;
    height: 40px;
}

.quantityIcons {
    display: flex;
}

@media (width <= 480px) {
    .quantityIcon {
        width: 25px;
        height: 25px;
    }

    .quantityContainer {
        flex-direction: column;
        align-items: center;
    }
}

