header {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-small);
    gap: var(--spacing-medium);
}

ul {
    display: flex;
    justify-content: center;
    padding: var(--spacing-medium);
    gap: var(--spacing-xl);
}

ul > li {
    list-style: none;
    font-size: var(--font-subheading);
}