header {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-small);
    gap: var(--spacing-medium);
}

footer,
header > h1 {
    /* I could use flexbox here instead... but eh honestly this works lol */
    margin: 0 auto;
}

ul {
    display: flex;
    justify-content: center;
    padding: var(--spacing-medium);
    gap: var(--spacing-xl);
}

ul > li {
    list-style: none;
    font-size: var(--font-subheading);
}
